.container-form{
    height:600px;
    width: 950px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    margin-left: 300x;
    display: block;
}
.input-box{
    margin-left: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center{
    margin-left: 250px;
}

.form-box{
    margin-bottom: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
    margin-right: 37px;
}
.form-floating {
    margin-left: 10px;
}
.b-section{
    margin-top: 120px;
}
.location-box{
    display: block;
  
    height: 70px;
}

.radio-sec{
    display: block;
    height: 70px;
    background-color: coral;
    padding: 10px;
}
.margin{
    margin-left: 20px;
}