.img-box {
    margin-left: 20px;
}

.img {
    padding-top: 20px;
    padding-left: 10px;
    height: 380px;
    border-radius: 10px 10px 10px 10px;
    
}
.my-3{
color: goldenrod;
margin-left: 90px;
margin-bottom: 10px;
}
.row{
 margin-bottom: 10px;
}