.img-box {
    margin-left: 20px;
}

.img {
    padding-top: 20px;
    padding-left: 10px;
    height: 380px;
    border-radius: 10px 10px 10px 10px;
    
}

.Comedy {
    border: 3px solid black;
    width: 250px;
    border-radius: 15px;
    background-color: F9FBE7;
    margin: auto;
    display: block;
    margin-top: 15px;
    padding: 10px;
}