.ReactionCard{
    height: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #282A3A;
}

.NameReview{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    color: black;
}

.card-Date{
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.card-title{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.card-text{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.ReactionText{
    text-align: justify;
}