.SeasonNum{
    display: inline;
    width: fit-content;
    background-color: #282A3A;
    color: azure;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    border: 2px solid #0E8388;
}

.Keywords{
    display: inline;
    width: fit-content;
    background-color: white;
    color: #282A3A;
    padding:5px;
    font-style: bold;
    border-radius: 15px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border: 2px solid #0E8388;
}

.Details{
    font-style: italic;
    font-weight: 600;
}

