.Starcast{
    height: auto;
    border: 3px solid goldenrod;
    background-color: #282A3A;
    filter: drop-shadow(none);
    color: white;
}

.imgRound{
    border-radius:75%;
}

.Photos{
    display: flex;
}