.Starcast{
    height: auto;
    border: 3px solid goldenrod;
    background-color: #282A3A;
    filter: drop-shadow(none);
    color: white;
}

.imgRound{
    border-radius:75%;
}

.Photos{
    display: flex;
}

.TamilCarouselDiv{
    height: auto;
    border: 5px solid #282A3A;
}


.Carouselimg{
    height: max-content;
}

.Tamilcardpic{
    border: 2px #282A3A solid;
    border-radius: 15px;

}

.Tamilcardpic:hover{
    background-color: #ffe082bd;
}


.Titlehead{
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-style: bold;
    text-align: center;
}

.Thrillerimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThrillerDesc{
    text-align: justify;
}

.ThrillerText{
    display: flex;
    align-items: center;
    justify-content: center;
}