

.video-container{
    
    width: auto;
    display:flex;
}


.video-height{
    display:flex;
    justify-content: center;
    align-items: center;
     height:500px;
    float: left;
}

.info{
  
    float:right;
}


.Desc{
    color: rgb(239, 176, 19);
    font-size: 35px;
    font-weight: 600;
}

.movie-info{
    color: black;
    font-size: medium;
  
}


.title-style{
    font-size: 19px;
    font-weight: 500;
    
    padding: 9px;
}

.inside{
    font-weight: 700;
    font-size: 16px;
}

.geners-style{
    border-radius: 20px 20px 20px 20px ;
    background-color: black;
    padding: 4px;
    margin: 2px;
    color: white;


}

.textalign{
    text-align: justify;
}

.also-like{
    color: rgb(223, 163, 12);
    font-size: 35px;
    font-weight: 600;
    margin-left: 90px ;

}

.img-box{
    margin-left: 100px;
    
}

.poster-img{
    height: 380px;
    border-radius:10px 10px 10px 10px;
    
}


.trailer-name{
    display: flex;
    justify-content: start;
}




